* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 100%;
    margin: 3%;
}

img {
    width: 100%;
}

.p-b1 {
    padding-bottom: 1rem;
}

.p-b2 {
    padding-bottom: 2rem;
}

.d-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5%;
    row-gap: 15px;
}

.col {
    width: 23.875%;
}

.d-n-3,
.d-n-2 {
    display: block;
}


@media only screen and (max-width: 999px) {
    .col {
        width: 32%;
    }

    .d-flex {
        gap: 2%;
        row-gap: 8px;
    }

    .d-n-3 {
        display: none;
    }
}

@media only screen and (max-width: 699px) {
    .col {
        width: 49%;
    }

    main {
        margin: 4% 3%;
    }

    .d-n-2 {
        display: none;
    }
}

@media only screen and (max-width: 499px) {
    .col {
        width: 100%;
    }

    main {
        margin: 5% 3%;
    }

    .d-n-3,
    .d-n-2 {
        display: block;
    }
}